version: '3.7'

services:

  web:
    build:
      context: ./project
      dockerfile: Dockerfile
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    volumes:
      - ./project/:/usr/src/app/
    ports:
      - 8002:8000
    environment:
      - DATABASE_URL=postgresql://prophet_fastapi:hello_fastapi@prophet-db:5432/prophet_fastapi_dev
    depends_on:
      - prophet-db

  prophet-db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=prophet_fastapi
      - POSTGRES_PASSWORD=hello_fastapi
      - POSTGRES_DB=prophet_fastapi_dev

volumes:
  postgres_data:
